{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Louvre Museum, ticket office{% endtrans %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <div class="card pl-4">
                <h2>{% trans %}Your order for the{% endtrans %} {{ commands.getDateVisit|date("d/m/Y") }} {% trans %}has been validated{% endtrans %}.</h2>
                {% trans %}We thank you for your trust{% endtrans %}.<br /><br />
                {% trans %}You will quickly receive a summary email containing your tickets to the address{% endtrans %} {{ commands.getMail() }}.<br /><br />
                {% trans %}Do not forget to present your tickets and the vouchers on the day of your visit{% endtrans %}.<br />
                {% trans %}To avoid any problem, we recommend that you print the summary e-mail before your visit{% endtrans %}.<br /><br />

            </div>
        </div>
    </div>


{% endblock %}

{% block sectionTitle %}
    {% trans %}End of your order{% endtrans %}
{% endblock %}