{% extends 'base.html.twig' %}

{% block title 'Musée du Louvre, billetterie' %}

{% block body %}
    <h3 class="card-title">Billet journée</h3>
    <h4>$24.99</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>

{% endblock %}