{% extends 'base.html.twig' %}

{% block title 'Musée du Louvre, billetterie' %}

{% block body %}

    <div class="row pt-4">

        <div class="col-lg-2 pt-2">
            <img src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/logo_Louvre.png" />
        </div>
        <div class="col-lg-9 pl-4">
            <h1 class="my-3 h2 font-weight-light">Billetterie officielle du musée du Louvre</h1>
        </div>
        <!-- /.col-lg-3 -->
    </div>

    <div class="row">
        <div class="col-12 pt-2 red">
            <div class="card">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ban">
            <div class="card">
                <h2>Bienvenue sur le site officiel de vente en ligne du Louvre</h2>
                <p>En période de forte affluence, la réservation en ligne de votre créneau horaire, qui seul peut garantir votre entrée au musée, est fortement recommandée.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 gray">
            <div class="card">
                Choisissez vos billets :
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 pb-1">

            <div class="card">
                <img class="img-fluid" src="https://cdn-imgix.headout.com/tour/5980/TOUR-IMAGE/1dd96726-9311-41f5-ac66-c729a8761275-3909-paris-louvre-museum-priority-access-with-flexible-entry-time-01.jpg?auto=compress&fm=pjpg&w=900&h=400&crop=faces&fit=min" alt="Musée du louvre">
                <div class="card-body">
                    <p class="card-text">
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </p>
                </div>
            </div>

        </div>
    </div>
        
    <div class="row">
        <div class="col-lg-12 footer">
            <div class="card">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV">Conditions générales</a></li>
                    <li class="list-inline-item"><a href="https://www.ticketlouvre.fr/louvre/b2c/assets/CGV-B2C-Prod/EN_CGV_EPML_GROUPES.pdf">Conditions générales pour les groupes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-1 copyright">
            <p class="text-center">© Musée du Louvre - All rights reserved</p>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}