{% extends 'base.html.twig' %}

{% block title %}
{% trans %}
Louvre Museum, creation of tickets
{% endtrans %}
{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {% for key, tk in form %}
        <div class="row bg-white">
            <div class="col-sm nopadding">
                <div class="card p-2 pl-3 ticket">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row bg-white">
            <div class="col-sm nopadding">
                <div class="card p-2 pl-3 ticket">

                    {{ form_errors(form) }}
                    <button class="btn btn-primary">{% trans %}Validate{% endtrans %}</button>
                </div>
            </div>
    </div>
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                'startView': '3',
                endDate: '+0d',
                language: '{% trans %}en-GB{% endtrans %}'
            });
            $('.discount').change(function(){
                parent = $(this).parent('div');
                if (this.checked) {
                    $('<em>Pour bénéficier d\'un tarif réduit, vous devrez présenter une pièce justificative lors de votre accès au musée (carte étudiant, ancien combattant, etc)</em>').insertAfter(parent);
                }else{
                    $(parent).next('em').remove();
                }
            })
        });
    </script>
{% endblock %}

{% block stylesheets  %}
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}

{% block sectionTitle %}
{% trans %}
Choice of your tickets
{% endtrans %}
{% endblock %}