body{
    background: #331107;
}

.container{
    background: #222;
    padding: 0;
}

h1{
    color: white;
}

.red .card{
    background: #C82D00 url('https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/home_crumb.png') 2% center no-repeat;
}

.ban .card{
    padding: 10px 20px 0px;
}

.ban h2{
    font-family: Georgia, sans-serif;
    font-weight: 400;
    line-height: 35px;
}

.ban p{
    color: rgb(192, 57, 43);
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.gray .card{
    background: rgb(78, 78, 78);
    color: white;
    font-weight: bold;
    padding:5px;
}

.card{
    border:none;
}

.form-control, .btn-primary, .card{
    border-radius: 0;
}

.list-group a, .btn-primary, .btn-primary:active{
    background: #9a2200;
    border-color:  darkred;
    color: white;
}

.list-group .active, .btn-primary:hover{
    background: #C82D00;
    border-color:00,0  darkred;
}

.footer li:first-child{
    list-style: none;
}

.footer .card{
    padding:0;
    padding-top: 10px;
    padding-left: 20px;
}

.footer a{
    color: grey;
    font-size: 0.8em
}

.copyright{
    color: #BBB;
    font-size: 0.7em;
}