body{
    background: #331107;
}

.container{
    background: #222;
}

h1{
    color: white;
}

.list-group a{
    color: #C82D00;
}

.list-group .active{
    background: #C82D00;
    border-color:  darkred;
}